.fade{
            animation: fade linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
            /* animation-range-start: cover 0%;
            animation-range-end: cover 30%; */
        }

        

        .fade-up-right{
            animation: fade-up-right linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
            /* animation-range-start: contain 0%;
            animation-range-end: cover 100%; */
        }

        .fade-up-left{
            animation: fade-up-left linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
            /* animation-range-start: cover 0%;
            animation-range-end: cover 30%; */
        }

        .fade-down{
            opacity: 0;
            transform: translateY(-100%);
            animation: fade-down linear forwards;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
        }

        @keyframes fade-down {
            to{
                opacity: 1;
                transform: translateY(0%);
            }   
        }

        .fade-right{
            animation: fade-right linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
        }

        .fade-left{
            animation: fade-left linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
        }

        .fade-zoom{
            animation: fade-zoom linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
        }

        @keyframes fade-right {
            from{
                transform: translateX(-100%);
                opacity: 0;
            }
            to{
                transform: translateX(0%);
                opacity: 1;
            }
        }

        @keyframes fade-zoom {
            from{
                transform: scale(0.8);
                opacity: 0;
            }
            to{
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes fade-up-right {
            from{
                transform: translate(-100%,150%);
                opacity: 0;
            }
            to{
                transform: translate(0%,0%);
                opacity: 1;
            }
        }

        @keyframes fade-up-left {
            from{
                transform: translate(100%,150%);
                opacity: 0;
            }
            to{
                transform: translate(0%,0%);
                opacity: 1;
            }
        }

        @keyframes fade-left {
            from{
                transform: translateX(10%);
                opacity: 0.9;
            }
            to{
                transform: translateX(0%);
                opacity: 1;
            }
        }

        .fade-up{
            opacity: 0;
            transform: translateY(100%);
            animation: fade-up linear forwards;
            animation-timeline: view();
            animation-range-end: cover 30%;
            animation-range-start: cover 0%;
            /* animation-range-start: cover 0%;
            animation-range-end: cover 30%; */
        }

        @keyframes fade-up {
            
            to{
                opacity: 1;
                transform: translateY(0%);
            }   
        }

        @keyframes fade {
            from{
                opacity: 0;
                /* transform: translateY(100%); */
            }
            to{
                opacity: 1;
                /* transform: translateY(0%); */
            }   
        }

        .zoom{
            animation: zoom linear;
            animation-timeline: view();
            animation-range-end: cover 50%;
            animation-range-start: cover 0%;
            /* transform: scale(1.); */
        }

        @keyframes zoom {
            
            to{
               
                transform: scale(1.3);
            }   
        }

        

        